<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1010226729348-9tkcjdpraurdnub4hpgv5vhls06bgrf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010226729348-9tkcjdpraurdnub4hpgv5vhls06bgrf7</string>
	<key>API_KEY</key>
	<string>AIzaSyCOg-ReNryxGJJR_SwBw3SagWQYZPaUB_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1010226729348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.com.fakestagram.ios</string>
	<key>PROJECT_ID</key>
	<string>fakestagram-1fb27</string>
	<key>STORAGE_BUCKET</key>
	<string>fakestagram-1fb27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010226729348:ios:a394e790bff55385</string>
	<key>DATABASE_URL</key>
	<string>https://fakestagram-1fb27.firebaseio.com</string>
</dict>
</plist>